-
    const list = [
        {
            text: 'Договірні гарантійні зобов\'язання pandect.ua',
            href: 'warranty-and-service'
        },
        {
            text: 'Гарантійні зобов\'язання не поширюються на наступні несправності',
            href: 'warranty'
        },
        {
            text: 'Сервісний центр може відмовити в гарантійному ремонті',
            href: 'service'
        },
    ]


.warranty-and-service.page
    .warranty-and-service__layer.page__layer
        .center
            +breadcrumbs(['Головна', 'Гарантія та сервіс'])
            .f-container.warranty-and-service__container
                .warranty-and-service__main.page__main
                    .warranty-and-service__main-layer
                        article.seo-text__article
                            section.seo-text__section.animate(id="warranty-and-service" data-animation="fadeInTop")
                                h2.seo-text__title.warranty-and-service__title
                                    |Договірні гарантійні зобов'язання pandect.ua
                                ol.seo-text__ordered-list
                                    li.seo-text__list-item
                                        |1. Продавець гарантує, що куплений виріб є працюючим і не містить виявлених механічних та інших пошкоджень на момент здійснення продажу. Комплектність виробів перевіряється при покупці.
                                    li.seo-text__list-item
                                        |2. Гарантія на продані вироби за умови дотримання умов гарантії має на увазі під собою безкоштовний ремонт виробу протягом гарантійного терміну, зазначеного в нашому гарантійному талоні, або його заміну на аналогічний за призначенням пристрій в разі неможливості ремонту.
                                    li.seo-text__list-item
                                        |3. Гарантія на продані вироби за умови дотримання умов гарантії має на увазі під собою безкоштовний ремонт виробу протягом гарантійного терміну, зазначеного в нашому гарантійному талоні, або його заміну на аналогічний за призначенням пристрій в разі неможливості ремонту.
                                    li.seo-text__list-item
                                        |4. Гарантія на продані вироби за умови дотримання умов гарантії має на увазі під собою безкоштовний ремонт виробу протягом гарантійного терміну, зазначеного в нашому гарантійному талоні, або його заміну на аналогічний за призначенням пристрій в разі неможливості ремонту.
                                    li.seo-text__list-item
                                        |5. Продавець не забезпечує гарантійне обслуговування поставлених виробів у випадках:
                                        ul.seo-text__list
                                            li.seo-text__list-item
                                                |- Втрати гарантійного талона, наявності в ньому записів або виправлень, зроблених не продавцем.
                                            li.seo-text__list-item
                                                |- Втрати гарантійного талона, наявності в ньому записів або виправлень, зроблених не продавцем.
                                            li.seo-text__list-item
                                                |- Ушкодження або відсутності гарантійних стікерів Продавця на виробі або комплектуючих.
                                            li.seo-text__list-item
                                                |- Наявності механічних пошкоджень (пом'ятості, відколи, глибокі подряпини, тріщини, сліди удару, вигин або перелом контактних ніжок, кріпильних місць і т.п.), а також зі стертим маркуванням виробів, нерозбірливими серійними номерами.
                                            li.seo-text__list-item
                                                |- Наявності ознак ремонту неуповноваженими особами (розтин блоків, слідів пайки, слідів механічних пошкоджень на гвинтах, порушення гарантійних пломб, заміни деталей і т.п.).
                            section.seo-text__section.animate(id="warranty" data-animation="fadeInTop")
                                h2.seo-text__title.warranty-and-service__title
                                    |Сервісний центр може відмовити в гарантійному ремонті через:
                                ul.seo-text__list
                                    li.seo-text__list-item
                                        |1.1 Загальний строк виконання Замовлення становить: 5 днів.
                                    li.seo-text__list-item
                                        |1.2. Загальним строком виконання Замовлення, яке складається з декількох Товарів, що мають різні строки виконання, є найбільший строк.
                            section.seo-text__section.animate(id="service" data-animation="fadeInTop")
                                h2.seo-text__title.warranty-and-service__title
                                    |Гарантійні зобов'язання не поширюються на наступні несправності:
                                ul.seo-text__list
                                    li.seo-text__list-item
                                        |-  природний знос або вичерпання ресурсу;
                                    li.seo-text__list-item
                                        |-  випадкові пошкодження (дефекти, заподіяні клієнтом);
                                    li.seo-text__list-item
                                        |-  пошкодження в результаті стихійних лих (природних явищ);
                                    li.seo-text__list-item
                                        |-  пошкодження, що виникли внаслідок недбалого ставлення або використання (недотримання температурного режиму, вплив рідини, запиленості, механічне пошкодження, попадання всередину корпусу сторонніх предметів);
                                    li.seo-text__list-item
                                        |-  пошкодження, викликані дефектами системи, в якій використовувався даний товар, або що виникли в результаті з'єднання і підключення товару до інших виробів;
                                    li.seo-text__list-item
                                        |-  пошкодження, викликані використанням товару не за призначенням або з порушенням правил експлуатації.
                aside.warranty-and-service__sidebar.sidebar.contacts
                    .warranty-and-service__sidebar-layer
                        +links('warranty-and-service', list)

