.preview
    .preview__layer
        .center.center_size_l
            .f-container.preview__container
                #preview-slider.preview__slider
                    .preview-slider__track
                        ul.preview-slider__list
                            li.preview-slider__slide.preview-slide
                                .preview-slider__slide-layer_top
                                    .preview-slide__content
                                        h2.preview-slide__title
                                            |Студія автобезпеки Pandect.ua
                                        p.preview-slide__text
                                            |Якщо ви хочете, встановити сигналізацію, 
                                            |або не знаєте як підібрати сигналізацію саме для вашого авто, 
                                            |залиште номер телефону і фахівець вас 
                                            span
                                                |проконсультує безкоштовно
                                        form.preview__form(id="preview-form")
                                            h3.title__h3.preview__form-title
                                                |Залиште ваш номер телефону
                                            p.preview__form-description
                                                |та отримайте безстрокову гарантію на комплексний захист вашого авто!
                                            div.preview__form-row
                                                div(class=`preview__form-group`)
                                                    input( class=`preview__form-field form__field form__field-item` type='tel' placeholder='Телефон' name='phone' required)
                                            div.preview__form-row
                                                div(class=`preview__form-group`)
                                                    #grecaptchaContainer1
                                                    .grecaptchaError(style="bottom: 0px;")
                                                        |Підтвердіть, що ви не робот
                                            div.preview__form-row
                                                div(class=`preview__form-group`)
                                                    button.preview__btn.main-btn
                                                        span.main-btn__text
                                                            |Надіслати
                                    .preview-slide__image
                                        img.preview-slide__img(src="img/car.png", alt="Car")
                                .preview-slider__slide-layer_bottom
                                    .preview-triggers
                                        ul.preview-triggers__list.preview-slider__triggers-list
                                            li.preview-triggers__list-item
                                                i.ico.preview-triggers__ico.s-lock
                                                p.preview-triggers__text
                                                    |Офіційний 
                                                    br
                                                    |представник в 
                                                    br
                                                    |Україні
                                            li.preview-triggers__list-item
                                                i.ico.preview-triggers__ico.s-repair
                                                p.preview-triggers__text
                                                    |Авторський, 
                                                    br
                                                    |прихований 
                                                    br
                                                    |монтаж
                                            li.preview-triggers__list-item
                                                i.ico.preview-triggers__ico.s-endless
                                                p.preview-triggers__text
                                                    |Безстрокова 
                                                    br
                                                    |гарантія
                                            li.preview-triggers__list-item
                                                i.ico.preview-triggers__ico.s-wallet
                                                p.preview-triggers__text
                                                    |Фінансова 
                                                    br
                                                    |гарантія

                    //-         li.preview-slider__slide.splide__slide
                    //-             .preview-slide__content
                    //-                 h2.preview-slide__title
                    //-                     |Студія автобезпеки Pandect.ua
                    //-                 p.preview-slide__text
                    //-                     |Якщо ви хочете, встановити сигналізацію, 
                    //-                     |або не знаєте як підібрати сигналізацію саме для вашого авто, 
                    //-                     |залиште номер телефону і фахівець вас 
                    //-                     span
                    //-                         |проконсультує безкоштовно
                    //-             .preview-slide__image
                    //-                 img.preview-slide__img(src="img/car.png", alt="Car")
                    //-         li.preview-slider__slide.splide__slide
                    //-             .preview-slide__content
                    //-                 h2.preview-slide__title
                    //-                     |Студія автобезпеки Pandect.ua
                    //-                 p.preview-slide__text
                    //-                     |Якщо ви хочете, встановити сигналізацію, 
                    //-                     |або не знаєте як підібрати сигналізацію саме для вашого авто, 
                    //-                     |залиште номер телефону і фахівець вас 
                    //-                     span
                    //-                         |проконсультує безкоштовно
                    //-             .preview-slide__image
                    //-                 img.preview-slide__img(src="img/car.png", alt="Car")
                    //- .splide__extensions
                    //-     .splide__extensions-layer
                    //-         .preview-slider__arrows
                    //-             button.preview-slider__arrow.preview-slider__arrow--prev
                    //-                 .ico
                    //-                     +svg2('arrow-left')
                    //-             .preview-slider__pagination
                    //-             button.preview-slider__arrow.preview-slider__arrow--next
                    //-                 .ico
                    //-                     +svg2('arrow-right')
                


