adide.sidebar
    .sidebar__layout
        include Pages/Index/widget-articles
        include Pages/Index/sidebar-banner
        include Pages/Index/widget-comments
        include Pages/Index/subscribe-form