.installation-center
    .installation-center__layer
        .center
            .f-container.installation-center__container
                .installation-center__content
                    h2.title__h2.installation-center__title
                        | Установчий центр
                    p.installation-center__text.animate(data-animation="fadeInTop")
                        | Багато хто вважає, що Lorem Ipsum — це вигаданий набір слів латиною, 
                        | але це не зовсім так. Його коріння сягає одного уривку з класичної 
                        | латини 45 року н.е., тобто понад дві тисячі років тому.
                    p.installation-center__text.animate(data-animation="fadeInTop")
                        | Річард МакКлінток, професор латини з коледжу 
                        | Hampden-Sydney, штат Вірджинія, узяв одне з найнезвичніших 
                        | слів у Lorem Ipsum — "consectetur", — і почав шукати його 
                        | в класичній латинській літературі.
                    p.installation-center__text.animate(data-animation="fadeInTop")
                        | У результаті він знайшов беззаперечне джерело Lorem Ipsum 
                        | у розділах 1.10.32 і 1.10.33 книги, і довів, що "consectetur" 
                        | справді має класичне походження.
                .installation-center__video(data-video="sQV96yUn1Qw")
                    .installation-center__play-video
                    img.installation-center__img(src="img/video-preview.png" alt="Зображення")
