.news
    .news__layer
        .center
            h2.title__h2.news__title
                |Новини
            .news__btn
                a.main-btn(href="#")
                    span.main-btn__text
                        |Всі новини
            .news__container 
                .f-container.news__container-layer.animate(data-animation="fadeInTop")
                    ul.news__articles-list
                        li.news__articles-list-item
                            a.news__article(href="/single-article.html")
                                .news__article-img-wrap
                                    img.news__article-img(src="img/news-img-1.png", alt="News")
                                .news__article-content
                                    h3.news__article-title
                                        |Як правильно встановити сигналізацію, якщо авто на гарантії
                                    p.news__article-text
                                        |Want to buy a house but are unsure about what we should know, here I will try to explain
                                    .news__article-actions
                                        ul.actions__list
                                            li.actions__list-item
                                                i.ico.actions__ico.s-clock
                                                span.actions__text
                                                    |4 хвилини тому | 09 Липня 2024
                        li.news__articles-list-item
                            a.news__article(href="/single-article.html")
                                .news__article-img-wrap
                                    img.news__article-img(src="img/news-img-1.png", alt="News")
                                .news__article-content
                                    h3.news__article-title
                                        |Як правильно встановити сигналізацію, якщо авто на гарантії
                                    p.news__article-text
                                        |Want to buy a house but are unsure about what we should know, here I will try to explain
                                    .news__article-actions
                                        ul.actions__list
                                            li.actions__list-item
                                                i.ico.actions__ico.s-clock
                                                span.actions__text
                                                    |4 хвилини тому | 09 Липня 2024
                        li.news__articles-list-item
                            a.news__article(href="/single-article.html")
                                .news__article-img-wrap
                                    img.news__article-img(src="img/video-preview.png", alt="News")
                                .news__article-content
                                    h3.news__article-title
                                        |Як правильно встановити сигналізацію, якщо авто на гарантії
                                    p.news__article-text
                                        |Want to buy a house but are unsure about what we should know, here I will try to explain
                                    .news__article-actions
                                        ul.actions__list
                                            li.actions__list-item
                                                i.ico.actions__ico.s-clock
                                                span.actions__text
                                                    |4 хвилини тому | 09 Липня 2024
                    a.news__article_big
                        .news__article-img-wrap
                            img.news__article-img(src="img/news-img-1.png", alt="News")
                        .news__article-content
                            h3.news__article-title
                                |Як правильно встановити сигналізацію, якщо авто на гарантії
                            p.news__article-text
                                |Want to buy a house but are unsure about what we should know, here I will try to explain
                            .news__article-actions
                                ul.actions__list
                                    li.actions__list-item
                                        i.ico.actions__ico.s-clock
                                        span.actions__text
                                            |4 хвилини тому | 09 Липня 2024
            .news__block_mobile.desktop-hidden
                .news__btn_mobile
                    a.main-btn(href="#")
                        span.main-btn__text
                            |Всі новини


