.why-we
    .why-we__layer
        .center
            h2.title__h2.why-we__title
                |Чому варто обирати саме нас?
            p.why-we__description
                |Вже понад 10 років, ми встановлюємо надійні охоронні системи в автомобілі. 
                |Цей досвід дозволяє вам заощаджувати ваш час на монтаж охоронного комплексу в автомобіль. 
                |Вартість монтажу автосигналізації залежить від її типу і марки автомобіля
            ul.why-we__offers-list
                li.why-we__offers-list-item.animate(data-animation="fadeInTop")
                    .why-we__offers-list-item-layer
                        i.ico.why-we__offers-ico
                            +svg2('star-10')
                        p.why-we__offers-text
                            |10 років досвіду
                li.why-we__offers-list-item.animate(data-animation="fadeInTop")
                    .why-we__offers-list-item-layer
                        i.ico.why-we__offers-ico
                            +svg2('wall-clock')
                        p.why-we__offers-text
                            |10 задоволених клієнтів
                li.why-we__offers-list-item.animate(data-animation="fadeInTop")
                    .why-we__offers-list-item-layer
                        i.ico.why-we__offers-ico
                            +svg2('sertificate')
                        p.why-we__offers-text
                            |Сертифікований установчий центр
                li.why-we__offers-list-item.animate(data-animation="fadeInTop")
                    .why-we__offers-list-item-layer
                        i.ico.why-we__offers-ico
                            +svg2('car')
                        p.why-we__offers-text
                            |Авторська установка
                li.why-we__offers-list-item.animate(data-animation="fadeInTop")
                    .why-we__offers-list-item-layer
                        i.ico.why-we__offers-ico
                            +svg2('thumb-up')
                        p.why-we__offers-text
                            |3 роки гарантії на обладнання та роботу

