.single-article.page
    .single-article__layer.page__layer
        .center
            +breadcrumbs(['Головна', 'Новини', 'Як правильно встановити сигналізацію, якщо авто на гарантії'])
            .f-container.single-article__container
                .single-article__main.page__main
                    .single-article__main-layer.seo-text
                        article.seo-text__article.single-article__info
                            h2.seo-text__title.title__h2.single-article__title
                                |Як правильно встановити сигналізацію, якщо авто на гарантії
                            p.seo-text__paragraph.animate(data-animation="fadeInTop")
                                strong
                                    | Існує багато варіантів 
                                | Lorem Ipsum, але більшість із них мають не завжди прийнятні модифікації, 
                                | наприклад, гумористичні вставки або слова, які навіть віддалено не нагадують латину. 
                                | Якщо вам потрібен Lorem Ipsum для серйозного проєкту, ви навряд чи захочете якусь 
                                | жартівливу вставку посеред абзацу. Також усі інші відомі генератори Lorem Ipsum 
                                | використовують один і той самий текст, який вони просто повторюють, поки не буде 
                                | досягнуто потрібного обсягу. Це робить запропонований тут генератор єдиним справжнім 
                                | генератором Lorem Ipsum. Він використовує словник із понад 200 латинських слів, 
                                | а також набір моделей речень. У результаті згенерований Lorem Ipsum виглядає 
                                | правдоподібно, не має повторюваних абзаців чи "неможливих" слів.
                            img.seo-text__img(src="img/video-preview.png", alt="Image") 
                            p.seo-text__paragraph.animate(data-animation="fadeInTop")
                                | Існує багато варіантів Lorem Ipsum, але 
                                a(href="#")
                                    | більшість
                                | &nbsp;із них мають не завжди прийнятні модифікації, наприклад, гумористичні вставки 
                                | або слова, які навіть віддалено не нагадують латину. Якщо вам потрібен Lorem Ipsum 
                                | для серйозного проєкту, ви навряд чи захочете якусь жартівливу вставку посеред абзацу. 
                                | Також усі інші відомі генератори Lorem Ipsum використовують один і той самий текст, 
                                | який вони просто повторюють, поки не буде досягнуто потрібного обсягу. Це робить 
                                | запропонований тут генератор єдиним справжнім генератором Lorem Ipsum. Він використовує 
                                | словник із понад 200 латинських слів, а також набір моделей речень. У результаті згенерований 
                                | Lorem Ipsum виглядає правдоподібно, не має повторюваних абзаців чи "неможливих" слів. 
                                | Існує багато варіантів 
                            p.seo-text__paragraph.animate(data-animation="fadeInTop")
                                | Існує багато варіантів Lorem Ipsum, але більшість із них мають не завжди прийнятні 
                                | модифікації, наприклад, гумористичні вставки або слова, які навіть віддалено 
                                | не нагадують латину. Якщо вам потрібен Lorem Ipsum для серйозного проєкту, 
                                | ви навряд чи захочете якусь жартівливу вставку посеред абзацу. Також усі інші 
                                | відомі генератори Lorem Ipsum використовують один і той самий текст, який вони 
                                | просто повторюють, поки не буде досягнуто потрібного обсягу. Це робить запропонований 
                                | тут генератор єдиним справжнім генератором Lorem Ipsum. Він використовує словник 
                                | із понад 200 латинських слів, а також набір моделей речень. У результаті згенерований 
                                | Lorem Ipsum виглядає правдоподібно, не має повторюваних абзаців чи "неможливих" слів. 
                                | Існує багато варіантів
                        .single-article__actions
                            ul.actions__list
                                li.actions__list-item
                                    i.ico.actions__ico.s-clock
                                    span.actions__text
                                        |09 Липня 2024
                                li.actions__list-item
                                    .single-article__social
                                        p.single-article__social-title
                                            |Поділитись:
                                        ul.single-article__social-list
                                            li.single-article__social-list-item
                                                button.single-article__social-link(data-sharer="facebook" data-title="Checkout Sharer.js!" data-url="https://ellisonleao.github.io/sharer.js/" )
                                                    i.ico
                                                        +svg2('facebook')
                                            //- li.single-article__social-list-item
                                            //-     button.single-article__social-link(data-sharer="facebook" data-title="Checkout Sharer.js!" data-url="https://ellisonleao.github.io/sharer.js/" )
                                            //-         i.ico
                                            //-             +svg2('instagram')
                                            li.single-article__social-list-item
                                                button.single-article__social-link(data-sharer="telegram" data-web="true" data-title="Checkout Sharer.js!" data-url="https://ellisonleao.github.io/sharer.js/" )
                                                    i.ico
                                                        +svg2('telegram')
                aside.single-article__sidebar.sidebar.items
                    .single-article__sidebar-layer
                        h3.single-article__sidebar-title.items__title
                            |Популярні новини
                        ul(class=`single-article__sidebar-list items__list`)
                            li.single-article__sidebar-list-item.items__list-item
                                a.single-article__sidebar-article.items__link(href="#")
                                    h3.single-article__sidebar-article-title.items__single-title
                                        |Нові камери термоконтролю для Pandora LED
                                    .single-article__sidebar-article-actions
                                        ul.actions__list.actions__list_small
                                            li.actions__list-item.actions__list-item_small
                                                i.ico.actions__ico.actions__ico_small.s-clock_s
                                                span.actions__text.actions__text_small
                                                    |09.07.2020
                                            li.actions__list-item.actions__list-item_small
                                                span.actions__separator
                                                    ||
                                            li.actions__list-item.actions__list-item_small
                                                p.actions__link.actions__link_small
                                                    |Детальніше
                            li.single-article__sidebar-list-item.items__list-item
                                a.single-article__sidebar-article.items__link(href="#")
                                    h3.single-article__sidebar-article-title.items__single-title
                                        |Нові камери термоконтролю для Pandora LED
                                    .single-article__sidebar-article-actions
                                        ul.actions__list.actions__list_small
                                            li.actions__list-item.actions__list-item_small
                                                i.ico.actions__ico.actions__ico_small.s-clock_s
                                                span.actions__text.actions__text_small
                                                    |09.07.2020
                                            li.actions__list-item.actions__list-item_small
                                                span.actions__separator
                                                    ||
                                            li.actions__list-item.actions__list-item_small
                                                p.actions__link.actions__link_small
                                                    |Детальніше
                            li.single-article__sidebar-list-item.items__list-item
                                a.single-article__sidebar-article.items__link(href="#")
                                    h3.single-article__sidebar-article-title.items__single-title
                                        |Нові камери термоконтролю для Pandora LED
                                    .single-article__sidebar-article-actions
                                        ul.actions__list.actions__list_small
                                            li.actions__list-item.actions__list-item_small
                                                i.ico.actions__ico.actions__ico_small.s-clock_s
                                                span.actions__text.actions__text_small
                                                    |09.07.2020
                                            li.actions__list-item.actions__list-item_small
                                                span.actions__separator
                                                    ||
                                            li.actions__list-item.actions__list-item_small
                                                p.actions__link.actions__link_small
                                                    |Детальніше
                            li.single-article__sidebar-list-item.items__list-item
                                a.single-article__sidebar-article.items__link(href="#")
                                    h3.single-article__sidebar-article-title.items__single-title
                                        |Нові камери термоконтролю для Pandora LED
                                    .single-article__sidebar-article-actions
                                        ul.actions__list.actions__list_small
                                            li.actions__list-item.actions__list-item_small
                                                i.ico.actions__ico.actions__ico_small.s-clock_s
                                                span.actions__text.actions__text_small
                                                    |09.07.2020
                                            li.actions__list-item.actions__list-item_small
                                                span.actions__separator
                                                    ||
                                            li.actions__list-item.actions__list-item_small
                                                p.actions__link.actions__link_small
                                                    |Детальніше

