.brands
    .brands__layer
        .center
            h2.title__h2.brands__title
                |Бренди з якими працюємо
            .brands__cards
                .brand__card-wrapper.animate(data-animation="fadeInTop")
                    a.brand__card(href="#")
                        img.brand__img(src="img/pandect-logo.svg", alt="Pandect")
                .brand__card-wrapper.animate(data-animation="fadeInTop")
                    a.brand__card(href="#")
                        img.brand__img(src="img/pandora-logo.svg", alt="Pandora")