.faq
    .faq__layer
        .center.center_size_s
            h2.title__h2.faq__title
                |FAQ - часті питання
            .faq__container
                .faq__description
                    .faq__accordeon
                        p.faq__accordeon-title(data-accordeon="#$1")
                            |Відсутній зв'язок з Alarm Server
                            i.ico
                                +svg2('arr-down')
                        p.faq__accordeon-text(data-fields="#$1" data-padding="25")
                            |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius delectus minima mollitia quisquam accusamus rem saepe, assumenda nemo eum culpa distinctio veniam officia eveniet enim quo vero unde at fugiat!
                    .faq__accordeon
                        p.faq__accordeon-title(data-accordeon="#$2")
                            |Як здати авто на сервіс чи мийку не віддаючи мітки ?
                            i.ico
                                +svg2('arr-down')
                        p.faq__accordeon-text(data-fields="#$2" data-padding="25")
                            |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius delectus minima mollitia quisquam accusamus rem saepe, assumenda nemo eum culpa distinctio veniam officia eveniet enim quo vero unde at fugiat!
                    .faq__accordeon
                        p.faq__accordeon-title(data-accordeon="#$3")
                            |Відсутній зв'язок з Alarm Server
                            i.ico
                                +svg2('arr-down')
                        p.faq__accordeon-text(data-fields="#$3" data-padding="25")
                            |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius delectus minima mollitia quisquam accusamus rem saepe, assumenda nemo eum culpa distinctio veniam officia eveniet enim quo vero unde at fugiat!
                    .faq__accordeon
                        p.faq__accordeon-title(data-accordeon="#$4")
                            |Відсутній зв'язок з Alarm Server
                            i.ico
                                +svg2('arr-down')
                        p.faq__accordeon-text(data-fields="#$4" data-padding="25")
                            |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius delectus minima mollitia quisquam accusamus rem saepe, assumenda nemo eum culpa distinctio veniam officia eveniet enim quo vero unde at fugiat!
                .faq__description
                    .faq__accordeon
                        p.faq__accordeon-title(data-accordeon="#$5")
                            |Відсутній зв'язок з Alarm Server
                            i.ico
                                +svg2('arr-down')
                        p.faq__accordeon-text(data-fields="#$5" data-padding="25")
                            |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius delectus minima mollitia quisquam accusamus rem saepe, assumenda nemo eum culpa distinctio veniam officia eveniet enim quo vero unde at fugiat!
                    .faq__accordeon
                        p.faq__accordeon-title(data-accordeon="#$6")
                            |Відсутній зв'язок з Alarm Server
                            i.ico
                                +svg2('arr-down')
                        p.faq__accordeon-text(data-fields="#$6" data-padding="25")
                            |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius delectus minima mollitia quisquam accusamus rem saepe, assumenda nemo eum culpa distinctio veniam officia eveniet enim quo vero unde at fugiat!
                    .faq__accordeon
                        p.faq__accordeon-title(data-accordeon="#$7")
                            |Відсутній зв'язок з Alarm Server
                            i.ico
                                +svg2('arr-down')
                        p.faq__accordeon-text(data-fields="#$7" data-padding="25")
                            |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius delectus minima mollitia quisquam accusamus rem saepe, assumenda nemo eum culpa distinctio veniam officia eveniet enim quo vero unde at fugiat!
                    .faq__accordeon
                        p.faq__accordeon-title(data-accordeon="#$8")
                            |Відсутній зв'язок з Alarm Server
                            i.ico
                                +svg2('arr-down')
                        p.faq__accordeon-text(data-fields="#$8" data-padding="25")
                            |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius delectus minima mollitia quisquam accusamus rem saepe, assumenda nemo eum culpa distinctio veniam officia eveniet enim quo vero unde at fugiat!            