footer.footer
	.footer__layer
		.center
			.f-container.footer__container
				.footer__info.footer__section
					.footer__logo.logo
						a.logo__link.footer__logo-link(href="#")
							div.footer__logo-img-container.large
								img.footer__logo-img.logo__img(src="img/logo.png", alt="Logo")
							div.footer__logo-img-container.small
								img.footer__logo-img.logo__img(src="img/agent-logo.png", alt="Logo")
					.footer__block_mobile.desktop-hidden
						.footer__logo_mobile.logo
							a.logo__link_mobile.footer__logo-link_mobile(href="#")
								div.footer__logo-img-container_mobile.large
									img.footer__logo-img_mobile.logo__img(src="img/pandect-logo.svg", alt="Logo")
								div.footer__logo-img-container_mobile.small
									img.footer__logo-img_mobile.logo__img(src="img/agent-logo.png", alt="Logo")
					p.footer__description
						|Copyright 2024 © pandect.com.ua – Сертифікована точка продажу та встановлення автосигналізацій Pandora & Pandect. Гарантія на всю продукцію та встановлення — 3 роки. Усі права захищені.
					ul.footer__payments-list
						li.footer__payments-list-item
							img.footer__master-card(src="img/MasterCard.png" alt="MasterCard")
						li.footer__payments-list-item
							img.footer__visa(src="img/Visa.png" alt="Visa")
					ul.footer__docs-list
						li.footer__docs-list-item
							a.footer__docs-link(href="#")
								|Політика конфіденційності
						li.footer__docs-list-item
							a.footer__docs-link(href="#") 
								|Договір публічної оферти
					.footer__block_mobile.desktop-hidden
						ul.footer__social-list.footer__social-list_mobile
							li.footer__social-list-item.footer__social-list-item_mobile
								a.footer__social-link.footer__social-link_mobile(href="#") 
									i.ico
										+svg2('facebook')
							li.footer__social-list-item.footer__social-list-item_mobile
								a.footer__social-link.footer__social-link_mobile(href="#") 
									i.ico
										+svg2('youtube')
							li.footer__social-list-item.footer__social-list-item_mobile
								a.footer__social-link.footer__social-link_mobile(href="#") 
									i.ico
										+svg2('instagram')
				.footer__documentation.footer__section
					h3.footer__documentation-title.footer-title(data-accordeon="footer-documentation")
						|Документація
					ul.footer__documentation-list.footer__list(data-fields="footer-documentation" data-breakpoint='992')
						li.footer__documentation-list-item.footer-list-item
							a.footer-link(href="/about.html") 
								|Про компанію
						li.footer__documentation-list-item.footer-list-item
							a.footer-link(href="/warranty-and-service.html") 
								|Гарантія та сервіс
						li.footer__documentation-list-item.footer-list-item
							a.footer-link(href="/payment-and-delivery.html") 
								|Договір оферти
						li.footer__documentation-list-item.footer-list-item
							a.footer-link(href="/payment-and-delivery.html") 
								|Оплата і доставка
						li.footer__documentation-list-item.footer-list-item
							a.footer-link(href="/blog.html") 
								|Новини і аналітика
				.footer__sections.footer__section
					h3.footer__sections-title.footer-title(data-accordeon="footer-sections")
						|Розділи
					ul.footer__sections-list.footer__list(data-fields="footer-sections" data-breakpoint='992')
						li.footer__sections-list-item.footer-list-item
							a.footer-link(href="/installation-center.html") 
								|Установчий центр
						li.footer__sections-list-item.footer-list-item
							a.footer-link(href="/catalog.html") 
								|Автосигналізації
						li.footer__sections-list-item.footer-list-item
							a.footer-link(href="/portfolio.html") 
								|Наші роботи
				.footer__contacts.footer__section
					h3.footer__contacts-title.footer-title(data-accordeon="footer-contacts")
						|Контакти
					ul.footer__contacts-list.footer__list(data-fields="footer-contacts" data-breakpoint='992')
						li.footer__contacts-list-item
							i.ico
								+svg2('mail')
							a.footer__mail-link.footer-link(href="mailto:info@pandect.com.ua")
								|info@pandect.com.ua
						li.footer__contacts-list-item
							i.ico
								+svg2('marker')
							p.footer__address-text
								|м. Київ пров. Куренівський, 15
						li.footer__contacts-list-item
							i.ico
								+svg2('phone')
							a.footer__phone-link.footer-link(href="tel:+380443337674")
								|+380 (99) 999-99-99 
						li.footer__contacts-list-item.footer__contacts-list-item_social
							ul.footer__social-list
								li.footer__social-list-item
									a.footer__social-link(href="#") 
										i.ico
											+svg2('facebook')
								li.footer__social-list-item
									a.footer__social-link(href="#") 
										i.ico
											+svg2('youtube')
								li.footer__social-list-item
									a.footer__social-link(href="#") 
										i.ico
											+svg2('instagram')
	.footer__copyright-layer
		.center
			p.footer__copyright
				|Pandect.com.UA © 2024

