mixin header(isMain)
		header.header#header
			.header__thanks-popup-trigger
			.header__wrap
				.header__layer
					.center.center_size_l
						.f-container.header__container_mobile.desktop-hidden
							.header__logo_mobile
								a.logo__link.header__logo-link_mobile(href="#")
									div.header__logo-img-container_mobile.large
										img.header__logo-img_mobile(src="img/logo-mobile.png", alt="Logo")
									div.header__logo-img-container_mobile.small
										img.header__logo-img_mobile(src="img/agent-logo.png", alt="Logo")
							.header__phone_mobile
								.header-phone__number_mobile
									a.header-phone__link_mobile(href="tel:+380999999999")
										|+380 (99) 999-99-99 
							.burger.header__burger
								.burger__layer
									span
									span
									span
						.f-container.header__container_first
							.header__address
								i.ico
									+svg2('marker')
								p.header-address__text
									|м. Київ пров. Куренівський, 15
							form.header__search.form(action="") 
								fieldset.fieldset.form__row.header-search__row
									i.ico.header-search__ico
										+svg2('magnifying-glass')
									.form__group.header-search__group
										input#search.form__field.header-search__field(type='text' placeholder='я шукаю...' name='search')
									.form__group.header-search__group
										button.header-search__button(type="submit")
											i.ico
												+svg2('arr-right')
							.header__phone
								.header-phone__number 
									i.ico
										+svg2('phone')
									a.header-phone__link(href="tel:+380999999999")
										|+380 (99) 999-99-99 
								p.header-phone__text
									|Телефон для консультації
							.header__languages
								.language-switcher
									.language-switcher__text-wrapper
										p.language-switcher__text
											|UA
										i.ico.language-switcher__ico
											+svg2('arr-down')
									ul.language-switcher__list
										li.language-switcher__list-item
											a.language-switcher__link(href='/')
												|UA
										li.language-switcher__list-item 
											a.language-switcher__link(href='/')
												|RU
							.header__btn
								button.main-btn
									span.main-btn__text
										|Замовити дзвінок
						.f-container.header__container_second
							.header__logo.logo
								a.logo__link.header__logo-link(href="#")
									div.header__logo-img-container.large
										img.header__logo-img.logo__img(src="img/logo.png", alt="Logo")
									div.header__logo-img-container.small
										img.header__logo-img.logo__img(src="img/agent-logo.png", alt="Logo")
							.header__menu-wrap
								.header__menu-container
									nav.header__menu.menu
										ul.header__menu-list.menu__list
											li.header__menu-list-item.menu__list-item.menu__list-item
												a.header__menu-link.menu__link.circle-nav-link(href="/installation-center.html")
													|Установочний центр
											li.header__menu-list-item.menu__list-item
												a.header__menu-link.menu__link.circle-nav-link(href="/catalog.html")
													|Каталог
											li.header__menu-list-item.menu__list-item
												a.header__menu-link.menu__link.circle-nav-link(href="/portfolio.html")
													|Наші роботи
											li.header__menu-list-item.menu__list-item
												a.header__menu-link.menu__link.circle-nav-link(href="/blog.html")
													|Новини
											li.header__menu-list-item.menu__list-item
												a.header__menu-link.menu__link.circle-nav-link(href="/contacts.html")
													|Контакти
									.header__block_mobile.desktop-hidden
										p.header-address__text_mobile
											|м. Київ пров. Куренівський, 15, 04073
										p.header-address__text_mobile
											|м. Вишневе, вулиця Київська, 2
										p.header-address__text_mobile
											|м. Київ, вулиця Миколи Трублаїні, 37-В
										ul.language-switcher__list_mobile
											li.language-switcher__list-item_mobile
												a.language-switcher__link_mobile.active(href='/')
													|UA
											li.language-switcher__list-item_mobile
												a.language-switcher__link_mobile(href='/')
													|RU
										.header__btn_mobile
											button.main-btn
												span.main-btn__text
													|Замовити дзвінок
							.header__shopping
								.header__compare
									i.ico
										+svg2('comparison')
									p.header-compare__text
										a(href="/compare.html") 
											|Порівняння: 
									p.header-compare__counter
										| 0
								.header__cart
									i.ico
										+svg2('cart')
									p.header-cart__text
										|Кошик: 
									p.header-cart__counter
										| 0
			- if(isMain)						
				include ./../../preview




