.seo-text
    .seo-text__layer
        .center.center_size_s
            article.seo-text__article.seo-text__info
                p.seo-text__paragraph.animate(data-animation="fadeInTop")
                    strong
                        | Існує багато варіантів 
                    | Lorem Ipsum, але більшість із них мають не завжди прийнятні модифікації, 
                    | наприклад, гумористичні вставки або слова, які навіть віддалено не схожі на латину. 
                    | Якщо вам потрібен Lorem Ipsum для серйозного проєкту, ви навряд чи захочете 
                    | бачити жарт посеред абзацу. Також усі інші відомі генератори Lorem Ipsum 
                    | використовують один і той самий текст, який вони просто повторюють, 
                    | поки не досягнуть потрібного обсягу. Це робить запропонований тут генератор 
                    | єдиним справжнім генератором Lorem Ipsum. Він використовує словник із понад 
                    | 200 латинських слів, а також набір шаблонів речень. У результаті згенерований 
                    | Lorem Ipsum виглядає правдоподібно, не має повторюваних абзаців або "неможливих" слів.
                p.seo-text__paragraph.animate(data-animation="fadeInTop")
                    | Існує багато варіантів Lorem Ipsum, але більшість із них мають не завжди прийнятні 
                    | модифікації, наприклад, гумористичні вставки або слова, які навіть віддалено не схожі 
                    | на латину. Якщо вам потрібен Lorem Ipsum для серйозного проєкту, ви навряд чи захочете 
                    | бачити жарт посеред абзацу. Також усі інші відомі генератори Lorem Ipsum використовують 
                    | один і той самий текст, який вони просто повторюють, поки не досягнуть потрібного обсягу. 
                    | Це робить запропонований тут генератор єдиним справжнім генератором Lorem Ipsum. 
                    | Він використовує словник із понад 200 латинських слів, а також набір шаблонів речень. 
                    | У результаті згенерований Lorem Ipsum виглядає правдоподібно, не має повторюваних абзаців 
                    | або "неможливих" слів. Існує багато варіантів
                p.seo-text__paragraph.animate(data-animation="fadeInTop")
                    | Існує багато варіантів Lorem Ipsum, але більшість із них мають не завжди прийнятні 
                    | модифікації, наприклад, гумористичні вставки або слова, які навіть віддалено не схожі 
                    | на латину. Якщо вам потрібен Lorem Ipsum для серйозного проєкту, ви навряд чи захочете 
                    | бачити жарт посеред абзацу. Також усі інші відомі генератори Lorem Ipsum використовують 
                    | один і той самий текст, який вони просто повторюють, поки не досягнуть потрібного обсягу. 
                    | Це робить запропонований тут генератор єдиним справжнім генератором Lorem Ipsum. 
                    | Він використовує словник із понад 200 латинських слів, а також набір шаблонів речень. 
                    | У результаті згенерований Lorem Ipsum виглядає правдоподібно, не має повторюваних абзаців 
                    | або "неможливих" слів. Існує багато варіантів
            .seo-text__block_mobile.desktop-hidden
                a.main-btn.seo-text__btn.main-btn_transparent(href="#")
                    span.main-btn__text
                        |Читати більше