extends pug/base



append vars
    - body.classList.push('single-article-page')
    - meta.keywords = ''
    - meta.themeColor = '#06A9DA'
    - meta.ogImage = '/img/logo.png'
    - meta.ogImageWidth = '1200'
    - meta.ogImageHeight = '630'
    - meta.ogImageType = 'image/png'
    - meta.ogImage = '/img/logo-s.png'
    - meta.ogImageWidth = '1200'
    - meta.ogImageHeight = '630'
    - meta.ogImageType = 'image/png'
    - meta.ogUrl = 'https://greens.studio/'
    - meta.appleMobileWebAppCapable = 'on'
    - meta.appleMobileWebAppStatusBarStyle = '#06A9DA'
    - meta.appleMobileWebAppTitle = 'PanDECT'
    - meta.applicationName = 'PanDECT'
    - meta.XUACompatible = 'IE=edge'
    - link.appleTouchIconPrecomposed = '15'
    - link.icon16x16 = 'favicon-16x16.png'
    - link.icon32x32 = 'favicon-32x32.png'
    - link.icon96x96 = 'favicon-96x96.png'
    - link.icon128x128 = 'favicon-128x128.png'
    - link.icon196x196 = 'favicon-196x196.png'


prepend vars
    - title = 'PanDECT'
    - description = 'Хотите заказать сайт недорого?'





block links
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(media="none" onload="if(media!='all') media='all'" href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet" type="text/css")
    link(rel="shortcut icon" type="image/png" href="img/favicon.png")

block head-end
    //- script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-146104286-1')
    //- script.
    //- 	window.dataLayer = window.dataLayer || [];
    //- 	function gtag(){dataLayer.push(arguments);}
    //- 	gtag('js', new Date());
    //- 	gtag('config', 'UA-146104286-1');







block content
    include pug/layouts/Common/Components/card
    include pug/layouts/Common/Components/breadcrumbs
    include pug/layouts/Common/Components/header-mixin
    include pug/layouts/Common/Components/production-slider-mixin
    include pug/layouts/Common/Components/feedback
    include pug/layouts/Common/Components/header
    main.main
        include pug/layouts/Pages/Single Article/single-article
        include pug/layouts/Pages/Blog/blog-feedback
        include pug/layouts/Common/Components/production-slider
        include pug/layouts/Common/Components/brands
        include pug/layouts/Common/Components/seo-text
    include pug/layouts/Common/Components/footer
    
    include pug/layouts/popups


block scripts
    script(src=`js/libs.min.js?v=${Date.now()}` defer)
    link(rel="preload" href=`js/single-article.min.js?v=${Date.now()}` as="script")
    script(src=`js/single-article.min.js?v=${Date.now()}` defer)


