.compare.page
    .compare__layer.page__layer
        .center
            +breadcrumbs(['Головна', 'Порівняння товарів'])
            .compare__block_mobile.desktop-hidden
                .compare__actions_mobile
                    ul.compare__actions-list_mobile
                        li.compare__actions-list-item_mobile.add-goods
                            .compare__actions-info_mobile-wrap
                                .compare__actions-info_mobile.active(data-tab="avto")
                                    p.compare__actions-text_mobile
                                        |Автосигналізації
                                    span.compare__actions-counter_mobile
                                        |(2)
                                .compare__actions-info_mobile(data-tab="imo")
                                    p.compare__actions-text_mobile
                                        |Імобілайзери
                                    span.compare__actions-counter_mobile
                                        |(2)
                            .compare__actions-more_mobile
                                i.ico.compare__actions-ico_mobile
                                    +svg2('more')
                        li.compare__actions-list-item_mobile.clean-list
                            .compare__actions-clean_mobile
                                p.compare__actions-text_mobile
                                    |Очистити список
                                i.ico.compare__actions-ico_mobile
                                    +svg2('trash')
            .compare__block
                aside.compare__sidebar.sidebar
                    .compare__actions
                        ul.compare__actions-list.sidebar__list
                            li.compare__actions-list-item.info.sidebar__list-item.active(data-tab="avto")
                                p.compare__actions-text
                                    |Автосигналізації
                                span.compare__actions-counter
                                    |(2)
                            li.compare__actions-list-item.info.sidebar__list-item(data-tab="imo")
                                p.compare__actions-text
                                    |Імобілайзери
                                span.compare__actions-counter
                                    |(4)
                            li.compare__actions-list-item.add-goods.sidebar__list-item
                                p.compare__actions-text
                                    |Добавити ще товар
                                i.ico.compare__actions-ico
                                    +svg2('plus')
                            li.compare__actions-list-item.clean-list.sidebar__list-item
                                p.compare__actions-text
                                    |Очистити список
                                i.ico.compare__actions-ico
                                    +svg2('trash')
                    .compare__filters
                        ul.compare__filters-list.sidebar__list
                            li.compare__filters-list-item.sidebar__list-item
                                div(class=`filter__group`)
                                    input(class=`filter__field` type='radio' name='auto' data-id="all" checked id="all")
                                    label(for="all")
                                        |Всі характеристики
                                div(class=`filter__group`)
                                    input(class=`filter__field` type='radio' name='auto' data-id="different" id="different")
                                    label(for="different")
                                        |Тільки що розрізняються
                                div(class=`filter__group`)
                                    input(class=`filter__field` type='radio' name='auto' data-id="same" id="same")
                                    label(for="same")
                                        |Тільки що співпадають
                    .compare__characteristics
                        h3.compare__characteristics-title.sidebar__title
                            |Характеристики
                        ul.compare__characteristics-list.sidebar__list(data-section="avto")
                            li.compare__characteristics-list-item.sidebar__list-item(data-position-key="0")
                                p.compare__characteristics-name
                                    |Серія
                            li.compare__characteristics-list-item.sidebar__list-item(data-position-key="1")
                                p.compare__characteristics-name
                                    |Модель
                            li.compare__characteristics-list-item.sidebar__list-item(data-position-key="2")
                                p.compare__characteristics-name
                                    |Виробник
                            li.compare__characteristics-list-item.sidebar__list-item(data-position-key="3")
                                p.compare__characteristics-name
                                    |GPS
                            li.compare__characteristics-list-item.sidebar__list-item(data-position-key="4")
                                p.compare__characteristics-name
                                    |Мітка
                            li.compare__characteristics-list-item.sidebar__list-item(data-position-key="5")
                                p.compare__characteristics-name
                                    |Автозапуск
                            li.compare__characteristics-list-item.sidebar__list-item(data-position-key="6")
                                p.compare__characteristics-name
                                    |Модем
                            li.compare__characteristics-list-item.sidebar__list-item(data-position-key="7")
                                p.compare__characteristics-name
                                    |Підключення
                            li.compare__characteristics-list-item.sidebar__list-item(data-position-key="8")
                                p.compare__characteristics-name
                                    |Slave режим
                            li.compare__characteristics-list-item.sidebar__list-item(data-position-key="9")
                                p.compare__characteristics-name
                                    |Радіореле
                            li.compare__characteristics-list-item.sidebar__list-item(data-position-key="10")
                                p.compare__characteristics-name
                                    |GSM
                            li.compare__characteristics-list-item.sidebar__list-item(data-position-key="11")
                                p.compare__characteristics-name
                                    |3D-акселерометр
                        ul.compare__characteristics-list.sidebar__list(data-section="imo")
                            li.compare__characteristics-list-item.sidebar__list-item(data-position-key="0")
                                p.compare__characteristics-name
                                    |Серія
                            li.compare__characteristics-list-item.sidebar__list-item(data-position-key="1")
                                p.compare__characteristics-name
                                    |Модель
                            li.compare__characteristics-list-item.sidebar__list-item(data-position-key="2")
                                p.compare__characteristics-name
                                    |Виробник
                            li.compare__characteristics-list-item.sidebar__list-item(data-position-key="3")
                                p.compare__characteristics-name
                                    |GPS
                            li.compare__characteristics-list-item.sidebar__list-item(data-position-key="4")
                                p.compare__characteristics-name
                                    |Мітка
                            li.compare__characteristics-list-item.sidebar__list-item(data-position-key="5")
                                p.compare__characteristics-name
                                    |Автозапуск
                            li.compare__characteristics-list-item.sidebar__list-item(data-position-key="6")
                                p.compare__characteristics-name
                                    |Модем
                            li.compare__characteristics-list-item.sidebar__list-item(data-position-key="7")
                                p.compare__characteristics-name
                                    |Підключення
                            li.compare__characteristics-list-item.sidebar__list-item(data-position-key="8")
                                p.compare__characteristics-name
                                    |Slave режим
                            li.compare__characteristics-list-item.sidebar__list-item(data-position-key="9")
                                p.compare__characteristics-name
                                    |Радіореле
                            li.compare__characteristics-list-item.sidebar__list-item(data-position-key="10")
                                p.compare__characteristics-name
                                    |GSM
                            li.compare__characteristics-list-item.sidebar__list-item(data-position-key="11")
                                p.compare__characteristics-name
                                    |3D-акселерометр
                .compare__main.page__main
                    .compare__main-layer
                        .compare__section.active(data-section="avto")
                            ul.compare__cards-list
                                li.compare__cards-list-item
                                    +card('compare', 'img/car.png', true)
                                    .compare__table
                                        .compare__tbody
                                            .compare__tr(data-position="0")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |Так
                                            .compare__tr(data-position="1")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |Ні
                                            .compare__tr(data-position="2")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |Так
                                            .compare__tr(data-position="3")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |Опціонально
                                            .compare__tr(data-position="4")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |Так
                                            .compare__tr(data-position="5")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |CAN
                                            .compare__tr(data-position="6")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |Так
                                            .compare__tr(data-position="7")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |Так
                                            .compare__tr(data-position="8")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |RMD-5
                                            .compare__tr(data-position="9")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |Так
                                            .compare__tr(data-position="10")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |Так
                                            .compare__tr(data-position="11")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |Так
                                li.compare__cards-list-item
                                    +card('compare', 'img/car.png', true)
                                    .compare__table
                                        .compare__tbody
                                            .compare__tr(data-position="0")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |Ні
                                            .compare__tr(data-position="1")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |Так
                                            .compare__tr(data-position="2")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |Так
                                            .compare__tr(data-position="3")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |Опціонально
                                            .compare__tr(data-position="4")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |Ні
                                            .compare__tr(data-position="5")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |CAN
                                            .compare__tr(data-position="6")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |Так
                                            .compare__tr(data-position="7")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |Так
                                            .compare__tr(data-position="8")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |RMD-5
                                            .compare__tr(data-position="9")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |Так
                                            .compare__tr(data-position="10")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |Так
                                            .compare__tr(data-position="11")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |Так
                                li.compare__cards-list-item.desktop-hidden.compare__cards-list-item_mobile
                                    .compare__card-add_mobile
                                        .compare__button-add-wrap_mobile
                                            button.compare__button-add_mobile
                                                .ico.compare__add-icon_mobile
                                                    +svg2('box')
                                        p.compare__text-add_mobile
                                            |Додати товар до порівняння із категорії 
                                            a.compare__link-add_mobile(href="#")
                                                |Автосигналізації
                                    .compare__table.compare__table_mobile
                                        .compare__tbody
                                            .compare__tr(data-position="0")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |Так
                                            .compare__tr(data-position="1")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |Ні
                                            .compare__tr(data-position="2")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |Так
                                            .compare__tr(data-position="3")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |Опціонально
                                            .compare__tr(data-position="4")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |Так
                                            .compare__tr(data-position="5")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |CAN
                                            .compare__tr(data-position="6")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |Так
                                            .compare__tr(data-position="7")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |Так
                                            .compare__tr(data-position="8")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |RMD-5
                                            .compare__tr(data-position="9")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |Так
                                            .compare__tr(data-position="10")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |Так
                                            .compare__tr(data-position="11")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |Так
                        .compare__section(data-section="imo")
                            ul.compare__cards-list
                                li.compare__cards-list-item
                                    +card('compare', 'img/car.png', true)
                                    .compare__table
                                        .compare__tbody
                                            .compare__tr(data-position="0")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |Так
                                            .compare__tr(data-position="1")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |Ні
                                            .compare__tr(data-position="2")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |Так
                                            .compare__tr(data-position="3")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |-
                                            .compare__tr(data-position="4")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |Так
                                            .compare__tr(data-position="5")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |CAN
                                            .compare__tr(data-position="6")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |Так
                                            .compare__tr(data-position="7")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |Так
                                            .compare__tr(data-position="8")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |RMD-8
                                            .compare__tr(data-position="9")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |Так
                                            .compare__tr(data-position="10")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |Так
                                            .compare__tr(data-position="11")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |Так
                                li.compare__cards-list-item
                                    +card('compare', 'img/car.png', true)
                                    .compare__table
                                        .compare__tbody
                                            .compare__tr(data-position="0")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |Так
                                            .compare__tr(data-position="1")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |Ні
                                            .compare__tr(data-position="2")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |Ні
                                            .compare__tr(data-position="3")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |Опціонально
                                            .compare__tr(data-position="4")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |Так
                                            .compare__tr(data-position="5")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |CAN
                                            .compare__tr(data-position="6")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |Ні
                                            .compare__tr(data-position="7")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |Так
                                            .compare__tr(data-position="8")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |RMD-5
                                            .compare__tr(data-position="9")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |Так
                                            .compare__tr(data-position="10")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |Так
                                            .compare__tr(data-position="11")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |-
                                li.compare__cards-list-item.desktop-hidden.compare__cards-list-item_mobile
                                    .compare__card-add_mobile
                                        .compare__button-add-wrap_mobile
                                            button.compare__button-add_mobile
                                                .ico.compare__add-icon_mobile
                                                    +svg2('box')
                                        p.compare__text-add_mobile
                                            |Додати товар до порівняння із категорії 
                                            a.compare__link-add_mobile(href="#")
                                                |Автосигналізації
                                    .compare__table.compare__table_mobile
                                        .compare__tbody
                                            .compare__tr(data-position="0")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |Так
                                            .compare__tr(data-position="1")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |Ні
                                            .compare__tr(data-position="2")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |Так
                                            .compare__tr(data-position="3")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |Опціонально
                                            .compare__tr(data-position="4")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |Так
                                            .compare__tr(data-position="5")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |CAN
                                            .compare__tr(data-position="6")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |Так
                                            .compare__tr(data-position="7")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |Так
                                            .compare__tr(data-position="8")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |RMD-5
                                            .compare__tr(data-position="9")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |Так
                                            .compare__tr(data-position="10")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |Так
                                            .compare__tr(data-position="11")
                                                .compare__td
                                                    p.compare__characteristic-value
                                                        |Так
                        
                        //- ul.compare__values-list
                        //-     li.compare__value-list-item
                                
                        //-     li.compare__value-list-item
                                
                        //-     li.compare__value-list-item
                                
                //- .compare__block
                //-     .compare__main
                    
