.about.page
    .about__layer.page__layer
        .center
            +breadcrumbs(['Головна', 'Про компанію'])
            .f-container.about__container
                .about__main.page__main
                    .about__main-layer
                        h2.about__title
                            |Про компанію
                        article.seo-text__article.about__article
                            p.seo-text__paragraph.about__paragraph.animate(data-animation="fadeInTop")
                                |Установчий центр Pandect.ua на ринку України працює з 2006 року.
                            p.seo-text__paragraph.about__paragraph.animate(data-animation="fadeInTop")
                                |Протягом цих років ми залишались вірні торговим маркам 
                                strong
                                    |Pandora та Pandect 
                                |та вдосконалювали свої навички в монтажі високотехнічних пристроїв для охорони ваших авто. Через руки наших спеціалістів пройшли тисячі автівок різних брендів. Від нових елітних до комерційних, або привезених із-за кордону. За ці роки, ми вже точно знаємо де закуповувати охоронні комплекси, хто надає максимальну підтримку та надає офіційну гарантію, тому ви можете бути впевнені, що ми вам встановимо офіційну, «білу» систему і ви не залишитесь сам на сам, якщо щось станеться.
                            p.seo-text__paragraph.about__paragraph.animate(data-animation="fadeInTop")
                                |Протягом цих років ми залишались вірні торговим маркам Pandora та Pandect та вдосконалювали свої навички в монтажі високотехнічних пристроїв для охорони ваших авто. Через руки наших спеціалістів пройшли тисячі автівок різних брендів. Від нових елітних до комерційних, або привезених із-за кордону. За ці роки, ми вже точно знаємо де закуповувати охоронні комплекси, хто надає максимальну підтримку та надає офіційну гарантію, тому ви можете бути впевнені, що ми вам встановимо офіційну, «білу» систему і ви не залишитесь сам на сам, якщо щось станеться.
                aside.about__sidebar.sidebar.contacts
                    .about__sidebar-layer
                        +contacts('about__sidebar')

