.installation.page
    .installation__layer.page__layer
        .center
            +breadcrumbs(['Головна', 'Установчий центр'])
            .f-container.installation__container
                .installation__main.page__main
                    .installation__main-layer
                        article.seo-text__article
                            p.seo-text__paragraph.installation__paragraph.animate(data-animation="fadeInTop")
                                strong
                                    |Вже понад 10 років, 
                                |ми встановлюємо надійні охоронні системи в автомобілі. Цей досвід дозволяє вам заощаджувати вас час на монтаж охоронного комплексу в автомобіль.Вартість монтажу автосигналізації залежить від її типу і марки автомобіля.
                            p.seo-text__paragraph.installation__paragraph.animate(data-animation="fadeInTop")
                                |За нас говорять наші роботи та кількість автомобілів, які виявилися не по зубах злодіям.
                            p.seo-text__paragraph.installation__paragraph.animate(data-animation="fadeInTop")
                                |Підібрати 
                                a(href="#") 
                                    |cистему охорони самостійно
                                |#{' '}часом не легко, тому краще замовте дзвінок і ми вам допоможемо як з вибором, так і з установкою.
                            p.seo-text__paragraph.installation__paragraph.animate(data-animation="fadeInTop")
                                |Підібрати cистему охорони самостійно часом не легко, тому краще замовте дзвінок і ми вам допоможемо як з вибором, так і з установкою.
                            ul.seo-text__list
                                li.seo-text__list-item(aria-level='1') &acy;&vcy;&tcy;&ocy;&scy;&icy;&gcy;&ncy;&acy;&lcy;&iukcy;&zcy;&acy;&tscy;&iukcy;&yicy;;
                                li.seo-text__list-item(aria-level='1') &mcy;&ocy;&tcy;&ocy;&scy;&icy;&gcy;&ncy;&acy;&lcy;&iukcy;&zcy;&acy;&tscy;&iukcy;&yicy;;
                                li.seo-text__list-item(aria-level='1') &iukcy;&mcy;&mcy;&ocy;&bcy;&iukcy;&lcy;&acy;&jcy;&zcy;&iecy;&rcy;&icy;;
                                li.seo-text__list-item(aria-level='1')
                                    | &ocy;&bcy;&khcy;&iukcy;&dcy;&ncy;&icy;&kcy;&icy; &shcy;&tcy;&acy;&tcy;&ncy;&icy;&khcy; &iukcy;&mcy;&mcy;&ocy;&bcy;&iukcy;&lcy;&acy;&jcy;&zcy;&iecy;&rcy;&iukcy;&vcy;, &tcy;&rcy;&iecy;&kcy;&iecy;&rcy;&icy;, &mcy;&iukcy;&tcy;&kcy;&icy;, &iukcy;&ncy;&shcy;&iukcy; &kcy;&ocy;&mcy;&pcy;&lcy;&iecy;&kcy;&tcy;&ucy;&yucy;&chcy;&iukcy; &tcy;&acy; &acy;&kcy;&scy;&iecy;&scy;&ucy;&acy;&rcy;&icy;.
                            p.seo-text__paragraph.installation__paragraph.animate(data-animation="fadeInTop")
                                |Підібрати cистему охорони самостійно часом не легко, тому краще замовте дзвінок і ми вам допоможемо як з вибором, так і з установкою.
                            .installation__images
                                .installation__images-layer
                                    ul.installation__images-list
                                        li.installation__images-list-item
                                            .installation__images-item-layer
                                                img.installation__images-item(src="img/installation.png", alt="Car")
                                        li.installation__images-list-item
                                            .installation__images-item-layer
                                                img.installation__images-item(src="img/installation.png", alt="Car")
                                        li.installation__images-list-item
                                            .installation__images-item-layer
                                                img.installation__images-item(src="img/installation.png", alt="Car")
                                        li.installation__images-list-item
                                            .installation__images-item-layer
                                                img.installation__images-item(src="img/video-preview.png", alt="Car")
                                        li.installation__images-list-item
                                            .installation__images-item-layer
                                                img.installation__images-item(src="img/installation.png", alt="Car")
                                        li.installation__images-list-item
                                            .installation__images-item-layer
                                                img.installation__images-item(src="img/installation.png", alt="Car")
                            p.seo-text__paragraph.installation__paragraph.animate(data-animation="fadeInTop")
                                em
                                    |Увага! Остерігайтеся контрафакту!
                            p.seo-text__paragraph.installation__paragraph.animate(data-animation="fadeInTop")
                                em
                                    |Вся сертифікована продукція Pandora і Pandect в Україні має голографічний стікер, який нанесений на фірмовій упаковці і спеціальна   відмітка «Pandora Ukraine»   в гарантійному талоні кожного виробу!
                aside.installation__sidebar.sidebar.contacts
                    .installation__sidebar-layer
                        +contacts('installation__sidebar')
                    .installation__sidebar-layer
                        .installation__certificates
                            h3.installation__certificates-title
                                |Сертифікати
                            ul.installation__certificates-list
                                li.installation__certificates-list-item
                                    img.installation__certificates-img(src="img/sertificate.png", alt="Sertificate")
                                li.installation__certificates-list-item
                                    img.installation__certificates-img(src="img/video-preview.png", alt="Sertificate") 

