.blog.page
    .blog__layer.page__layer
        .center
            +breadcrumbs(['Головна', 'Новини'])
            .f-container.blog__container
                .blog__main.page__main
                    .blog__main-layer
                        ul(class=`blog__articles-list`)
                            li.blog__articles-list-item.animate(data-animation="fadeInTop")
                                a.blog__article(href="/single-article.html")
                                    .blog__article-img-wrap
                                        img.blog__article-img(src="img/news-img-1.png", alt="News")
                                    .blog__article-content
                                        h3.blog__article-title
                                            |Як правильно встановити сигналізацію, якщо авто на гарантії
                                        p.blog__article-text
                                            |Want to buy a house but are unsure about what we should know, here I will try to explain
                                        .blog__article-actions
                                            ul.actions__list
                                                li.actions__list-item
                                                    i.ico.actions__ico.s-clock
                                                    span.actions__text
                                                        |09 Липня 2024
                                                li.actions__list-item
                                                    p.actions__link
                                                        |Детальніше
                            li.blog__articles-list-item.animate(data-animation="fadeInTop")
                                a.blog__article(href="/single-article.html")
                                    .blog__article-img-wrap
                                        img.blog__article-img(src="img/news-img-1.png", alt="News")
                                    .blog__article-content
                                        h3.blog__article-title
                                            |Як правильно встановити сигналізацію, якщо авто на гарантії
                                        p.blog__article-text
                                            |Want to buy a house but are unsure about what we should know, here I will try to explain
                                        .blog__article-actions
                                            ul.actions__list
                                                li.actions__list-item
                                                    i.ico.actions__ico.s-clock
                                                    span.actions__text
                                                        |09 Липня 2024
                                                li.actions__list-item
                                                    p.actions__link
                                                        |Детальніше
                            li.blog__articles-list-item.animate(data-animation="fadeInTop")
                                a.blog__article(href="/single-article.html")
                                    .blog__article-img-wrap
                                        img.blog__article-img(src="img/news-img-1.png", alt="News")
                                    .blog__article-content
                                        h3.blog__article-title
                                            |Як правильно встановити сигналізацію, якщо авто на гарантії
                                        p.blog__article-text
                                            |Want to buy a house but are unsure about what we should know, here I will try to explain
                                        .blog__article-actions
                                            ul.actions__list
                                                li.actions__list-item
                                                    i.ico.actions__ico.s-clock
                                                    span.actions__text
                                                        |09 Липня 2024
                                                li.actions__list-item
                                                    p.actions__link
                                                        |Детальніше
                            li.blog__articles-list-item.animate(data-animation="fadeInTop")
                                a.blog__article(href="/single-article.html")
                                    .blog__article-img-wrap
                                        img.blog__article-img(src="img/news-img-1.png", alt="News")
                                    .blog__article-content
                                        h3.blog__article-title
                                            |Як правильно встановити сигналізацію, якщо авто на гарантії
                                        p.blog__article-text
                                            |Want to buy a house but are unsure about what we should know, here I will try to explain
                                        .blog__article-actions
                                            ul.actions__list
                                                li.actions__list-item
                                                    i.ico.actions__ico.s-clock
                                                    span.actions__text
                                                        |09 Липня 2024
                                                li.actions__list-item
                                                    p.actions__link
                                                        |Детальніше
                        .blog__pagination
                            +pagination()
                aside.blog__sidebar.sidebar.items
                    .blog__sidebar-layer
                        h3.blog__sidebar-title.items__title
                            |Популярні новини
                        ul(class=`blog__sidebar-list items__list`)
                            li.blog__sidebar-list-item.items__list-item
                                a.blog__sidebar-article.items__link(href="#")
                                    h3.blog__sidebar-article-title.items__single-title
                                        |Нові камери термоконтролю для Pandora LED
                                    .blog__sidebar-article-actions
                                        ul.actions__list.actions__list_small
                                            li.actions__list-item.actions__list-item_small
                                                i.ico.actions__ico.actions__ico_small.s-clock_s
                                                span.actions__text.actions__text_small
                                                    |09.07.2020
                                            li.actions__list-item.actions__list-item_small
                                                span.actions__separator
                                                    ||
                                            li.actions__list-item.actions__list-item_small
                                                p.actions__link.actions__link_small
                                                    |Детальніше
                            li.blog__sidebar-list-item.items__list-item
                                a.blog__sidebar-article.items__link(href="#")
                                    h3.blog__sidebar-article-title.items__single-title
                                        |Нові камери термоконтролю для Pandora LED
                                    .blog__sidebar-article-actions
                                        ul.actions__list.actions__list_small
                                            li.actions__list-item.actions__list-item_small
                                                i.ico.actions__ico.actions__ico_small.s-clock_s
                                                span.actions__text.actions__text_small
                                                    |09.07.2020
                                            li.actions__list-item.actions__list-item_small
                                                span.actions__separator
                                                    ||
                                            li.actions__list-item.actions__list-item_small
                                                p.actions__link.actions__link_small
                                                    |Детальніше
                            li.blog__sidebar-list-item.items__list-item
                                a.blog__sidebar-article.items__link(href="#")
                                    h3.blog__sidebar-article-title.items__single-title
                                        |Нові камери термоконтролю для Pandora LED
                                    .blog__sidebar-article-actions
                                        ul.actions__list.actions__list_small
                                            li.actions__list-item.actions__list-item_small
                                                i.ico.actions__ico.actions__ico_small.s-clock_s
                                                span.actions__text.actions__text_small
                                                    |09.07.2020
                                            li.actions__list-item.actions__list-item_small
                                                span.actions__separator
                                                    ||
                                            li.actions__list-item.actions__list-item_small
                                                p.actions__link.actions__link_small
                                                    |Детальніше
                            li.blog__sidebar-list-item.items__list-item
                                a.blog__sidebar-article.items__link(href="#")
                                    h3.blog__sidebar-article-title.items__single-title
                                        |Нові камери термоконтролю для Pandora LED
                                    .blog__sidebar-article-actions
                                        ul.actions__list.actions__list_small
                                            li.actions__list-item.actions__list-item_small
                                                i.ico.actions__ico.actions__ico_small.s-clock_s
                                                span.actions__text.actions__text_small
                                                    |09.07.2020
                                            li.actions__list-item.actions__list-item_small
                                                span.actions__separator
                                                    ||
                                            li.actions__list-item.actions__list-item_small
                                                p.actions__link.actions__link_small
                                                    |Детальніше

