.portfolio-slider
    .portfolio-slider__layer
        .center
            h2.title__h2.portfolio-slider__title
                |Наші роботи
            .portfolio-slider__slider.splide#portfolio-slider
                .splide__extensions
                    .splide__extensions-layer
                        .portfolio-slider__arrows
                            button.portfolio-slider__arrow.portfolio-slider__arrow--prev
                                .ico
                                    +svg2('arrow-left')
                            span.portfolio-slider__arrow-separator
                                |
                            button.portfolio-slider__arrow.portfolio-slider__arrow--next
                                .ico
                                    +svg2('arrow-right')
                .portfolio-slider-slider__track.splide__track.portfolio-slider__track.animate(data-animation="fadeInTop")
                    ul.portfolio-slider-slider__list.splide__list.portfolio-slider__list
                        li.portfolio-slider-slider__slide.splide__slide.portfolio-slider__slide
                            .portfolio-slider-slider__img-wrap
                                img.portfolio-slider-slider__img(src="img/portfolio-img-1.png")
                        li.portfolio-slider-slider__slide.splide__slide.portfolio-slider__slide
                            .portfolio-slider-slider__img-wrap
                                img.portfolio-slider-slider__img(src="img/portfolio-img-1.png")
                        li.portfolio-slider-slider__slide.splide__slide.portfolio-slider__slide
                            .portfolio-slider-slider__img-wrap
                                img.portfolio-slider-slider__img(src="img/portfolio-img-1.png")
                        li.portfolio-slider-slider__slide.splide__slide.portfolio-slider__slide
                            .portfolio-slider-slider__img-wrap
                                img.portfolio-slider-slider__img(src="img/portfolio-img-1.png")
                        li.portfolio-slider-slider__slide.splide__slide.portfolio-slider__slide
                            .portfolio-slider-slider__img-wrap
                                img.portfolio-slider-slider__img(src="img/portfolio-img-1.png")
                        li.portfolio-slider-slider__slide.splide__slide.portfolio-slider__slide
                            .portfolio-slider-slider__img-wrap
                                img.portfolio-slider-slider__img(src="img/portfolio-img-1.png")
                        li.portfolio-slider-slider__slide.splide__slide.portfolio-slider__slide
                            .portfolio-slider-slider__img-wrap
                                img.portfolio-slider-slider__img(src="img/portfolio-img-1.png")
                        li.portfolio-slider-slider__slide.splide__slide.portfolio-slider__slide
                            .portfolio-slider-slider__img-wrap
                                img.portfolio-slider-slider__img(src="img/portfolio-img-1.png")