.portfolio.page
    .portfolio__layer.page__layer
        .center
            +breadcrumbs(['Головна', 'Наші роботи'])
            .f-container.portfolio__container
                .portfolio__main
                    .portfolio__block_mobile.desktop-hidden
                        select.portfolio__select
                            option.portfolio__tab.active(value="https://google.com")
                                |Audi
                            option.portfolio__tab(value="https://google.com")
                                |Bentley
                            option.portfolio__tab(value="https://google.com")
                                |Bmw
                            option.portfolio__tab(value="https://google.com")
                                |Honda
                            option.portfolio__tab(value="https://google.com")
                                |Mercedes
                            option.portfolio__tab(value="https://pornhub.com")
                                |Porsche
                            option.portfolio__tab(value="https://google.com")
                                |Volkswagen
                            option.portfolio__tab(value="https://google.com")
                                |Мотоцикли
                            option.portfolio__tab(value="https://google.com")
                                |Інше
                    .portfolio__tabs
                        span.portfolio__tab.active(data-tab="audi")
                            |Audi
                        span.portfolio__tab(data-tab="bentley")
                            |Bentley
                        span.portfolio__tab(data-tab="bmw")
                            |Bmw
                        span.portfolio__tab(data-tab="honda")
                            |Honda
                        span.portfolio__tab(data-tab="mercedes")
                            |Mercedes
                        span.portfolio__tab(data-tab="porsche")
                            |Porsche
                        span.portfolio__tab(data-tab="volkswagen")
                            |Volkswagen
                        span.portfolio__tab(data-tab="moto")
                            |Мотоцикли
                        span.portfolio__tab(data-tab="other")
                            |Інше
                    .portfolio__cards
                        .portfolio__card-wrap(data-section="audi")
                            a.portfolio__card(href="/portfolio-single.html")        
                                .portfolio__card-img-wrap          
                                    img.portfolio__card-img(src="img/portfolio-img-1.png", alt="Mazda")
                                .portfolio__card-content
                                    h3.portfolio__card-title= `Mazda CX5`
                                    button.portfolio__card-btn.main-btn.main-btn_transparent
                                        span.main-btn__text
                                            |Детальніше
                        .portfolio__card-wrap(data-section="bentley")
                            a.portfolio__card(href="/portfolio-single.html")        
                                .portfolio__card-img-wrap          
                                    img.portfolio__card-img(src="img/portfolio-img-1.png", alt="Mazda")
                                .portfolio__card-content
                                    h3.portfolio__card-title= `Mazda CX5`
                                    button.portfolio__card-btn.main-btn.main-btn_transparent
                                        span.main-btn__text
                                            |Детальніше
                        .portfolio__card-wrap(data-section="audi")
                            a.portfolio__card(href="/portfolio-single.html")        
                                .portfolio__card-img-wrap          
                                    img.portfolio__card-img(src="img/portfolio-img-1.png", alt="Mazda")
                                .portfolio__card-content
                                    h3.portfolio__card-title= `Mazda CX5`
                                    button.portfolio__card-btn.main-btn.main-btn_transparent
                                        span.main-btn__text
                                            |Детальніше
                        .portfolio__card-wrap(data-section="bentley")
                            a.portfolio__card(href="/portfolio-single.html")        
                                .portfolio__card-img-wrap          
                                    img.portfolio__card-img(src="img/portfolio-img-1.png", alt="Mazda")
                                .portfolio__card-content
                                    h3.portfolio__card-title= `Mazda CX5`
                                    button.portfolio__card-btn.main-btn.main-btn_transparent
                                        span.main-btn__text
                                            |Детальніше
                        .portfolio__card-wrap(data-section="porsche")
                            a.portfolio__card(href="/portfolio-single.html")        
                                .portfolio__card-img-wrap          
                                    img.portfolio__card-img(src="img/portfolio-img-1.png", alt="Mazda")
                                .portfolio__card-content
                                    h3.portfolio__card-title= `Mazda CX5`
                                    button.portfolio__card-btn.main-btn.main-btn_transparent
                                        span.main-btn__text
                                            |Детальніше
                        .portfolio__card-wrap(data-section="audi")
                            a.portfolio__card(href="/portfolio-single.html")        
                                .portfolio__card-img-wrap          
                                    img.portfolio__card-img(src="img/portfolio-img-1.png", alt="Mazda")
                                .portfolio__card-content
                                    h3.portfolio__card-title= `Mazda CX5`
                                    button.portfolio__card-btn.main-btn.main-btn_transparent
                                        span.main-btn__text
                                            |Детальніше
                        .portfolio__card-wrap(data-section="audi")
                            a.portfolio__card(href="/portfolio-single.html")        
                                .portfolio__card-img-wrap          
                                    img.portfolio__card-img(src="img/portfolio-img-1.png", alt="Mazda")
                                .portfolio__card-content
                                    h3.portfolio__card-title= `Mazda CX5`
                                    button.portfolio__card-btn.main-btn.main-btn_transparent
                                        span.main-btn__text
                                            |Детальніше
                        .portfolio__card-wrap(data-section="audi")
                            a.portfolio__card(href="/portfolio-single.html")        
                                .portfolio__card-img-wrap          
                                    img.portfolio__card-img(src="img/portfolio-img-1.png", alt="Mazda")
                                .portfolio__card-content
                                    h3.portfolio__card-title= `Mazda CX5`
                                    button.portfolio__card-btn.main-btn.main-btn_transparent
                                        span.main-btn__text
                                            |Детальніше
                        .portfolio__card-wrap(data-section="volkswagen")
                            a.portfolio__card(href="/portfolio-single.html")        
                                .portfolio__card-img-wrap          
                                    img.portfolio__card-img(src="img/portfolio-img-1.png", alt="Mazda")
                                .portfolio__card-content
                                    h3.portfolio__card-title= `Mazda CX5`
                                    button.portfolio__card-btn.main-btn.main-btn_transparent
                                        span.main-btn__text
                                            |Детальніше
                        .portfolio__card-wrap(data-section="audi")
                            a.portfolio__card(href="/portfolio-single.html")        
                                .portfolio__card-img-wrap          
                                    img.portfolio__card-img(src="img/portfolio-img-1.png", alt="Mazda")
                                .portfolio__card-content
                                    h3.portfolio__card-title= `Mazda CX5`
                                    button.portfolio__card-btn.main-btn.main-btn_transparent
                                        span.main-btn__text
                                            |Детальніше
                        .portfolio__card-wrap(data-section="audi")
                            a.portfolio__card(href="/portfolio-single.html")        
                                .portfolio__card-img-wrap          
                                    img.portfolio__card-img(src="img/portfolio-img-1.png", alt="Mazda")
                                .portfolio__card-content
                                    h3.portfolio__card-title= `Mazda CX5`
                                    button.portfolio__card-btn.main-btn.main-btn_transparent
                                        span.main-btn__text
                                            |Детальніше
                        .portfolio__card-wrap(data-section="volkswagen")
                            a.portfolio__card(href="/portfolio-single.html")        
                                .portfolio__card-img-wrap          
                                    img.portfolio__card-img(src="img/portfolio-img-1.png", alt="Mazda")
                                .portfolio__card-content
                                    h3.portfolio__card-title= `Mazda CX5`
                                    button.portfolio__card-btn.main-btn.main-btn_transparent
                                        span.main-btn__text
                                            |Детальніше
                        .portfolio__card-wrap(data-section="other")
                            a.portfolio__card(href="/portfolio-single.html")
                                .portfolio__card-img-wrap          
                                    img.portfolio__card-img(src="img/portfolio-img-1.png", alt="Mazda")
                                .portfolio__card-content
                                    h3.portfolio__card-title= `Mazda CX5`
                                    button.portfolio__card-btn.main-btn.main-btn_transparent
                                        span.main-btn__text
                                            |Детальніше
                        .portfolio__card-wrap(data-section="audi")
                            a.portfolio__card(href="/portfolio-single.html")
                                .portfolio__card-img-wrap          
                                    img.portfolio__card-img(src="img/portfolio-img-1.png", alt="Mazda")
                                .portfolio__card-content
                                    h3.portfolio__card-title= `Mazda CX5`
                                    button.portfolio__card-btn.main-btn.main-btn_transparent
                                        span.main-btn__text
                                            |Детальніше
                        .portfolio__card-wrap(data-section="volkswagen")
                            a.portfolio__card(href="/portfolio-single.html")        
                                .portfolio__card-img-wrap          
                                    img.portfolio__card-img(src="img/portfolio-img-1.png", alt="Mazda")
                                .portfolio__card-content
                                    h3.portfolio__card-title= `Mazda CX5`
                                    button.portfolio__card-btn.main-btn.main-btn_transparent
                                        span.main-btn__text
                                            |Детальніше
                        .portfolio__card-wrap(data-section="other")
                            a.portfolio__card(href="/portfolio-single.html")        
                                .portfolio__card-img-wrap          
                                    img.portfolio__card-img(src="img/portfolio-img-1.png", alt="Mazda")
                                .portfolio__card-content
                                    h3.portfolio__card-title= `Mazda CX5`
                                    button.portfolio__card-btn.main-btn.main-btn_transparent
                                        span.main-btn__text
                                            |Детальніше
                    .porfolio__pagination
                        +pagination()