.portfolio-single.page
    .portfolio-single__layer.page__layer
        .center
            +breadcrumbs(['Головна', 'Наші роботи', 'Mazda CX5'])
        .portfolio-single__slider-wrap
                #portfolio-single-slider.portfolio-single__slider.splide
                    .splide__track.portfolio-single__slider-track
                        ul.splide__list.portfolio-single__slider-list#portfolio-single__lightgallery
                            li.splide__slide.portfolio-single__slider-slide(data-src="img/portfolio-img-1.png")
                                a.portfolio-single__slider-link(href="img/portfolio-img-1.png")
                                    i.ico.portfolio-single__slider-ico
                                        +svg2('magnifying-glass-2')
                                    img.portfolio-single__slider-img(src="img/portfolio-img-1.png")
                            li.splide__slide.portfolio-single__slider-slide(data-src="img/portfolio-img-1.png")
                                a.portfolio-single__slider-link(href="img/portfolio-img-1.png")
                                    i.ico.portfolio-single__slider-ico
                                        +svg2('magnifying-glass-2')
                                    img.portfolio-single__slider-img(src="img/portfolio-img-1.png")
                            li.splide__slide.portfolio-single__slider-slide(data-src="img/video-preview.png")
                                a.portfolio-single__slider-link(href="img/portfolio-img-1.png")
                                    i.ico.portfolio-single__slider-ico
                                        +svg2('magnifying-glass-2')
                                    img.portfolio-single__slider-img(src="img/portfolio-img-1.png")
                            li.splide__slide.portfolio-single__slider-slide(data-src="img/portfolio-img-1.png")
                                a.portfolio-single__slider-link(href="img/portfolio-img-1.png")
                                    i.ico.portfolio-single__slider-ico
                                        +svg2('magnifying-glass-2')
                                    img.portfolio-single__slider-img(src="img/portfolio-img-1.png")
                            li.splide__slide.portfolio-single__slider-slide(data-src="img/portfolio-img-1.png")
                                a.portfolio-single__slider-link(href="img/portfolio-img-1.png")
                                    i.ico.portfolio-single__slider-ico
                                        +svg2('magnifying-glass-2')
                                    img.portfolio-single__slider-img(src="img/portfolio-img-1.png")
                            li.splide__slide.portfolio-single__slider-slide(data-src="img/video-preview.png")
                                a.portfolio-single__slider-link(href="img/portfolio-img-1.png")
                                    i.ico.portfolio-single__slider-ico
                                        +svg2('magnifying-glass-2')
                                    img.portfolio-single__slider-img(src="img/portfolio-img-1.png")
                    .splide__extensions
                        .splide__extensions-layer
        .center
            .portfolio-single__main.page__main
                atricle.portfolio-single__info
                    .portfolio-single__info-row
                        .portfolio-single__image-layer
                            img.portfolio-single__image(src="img/portfolio-img-2.png" alt="Portfolio")
                        .portfolio-single__text-layer.animate(id="payment" data-animation="fadeInTop")
                            p.portfolio-single__paragraph
                                | Існує багато варіантів Lorem Ipsum, але більшість із них мають не завжди прийнятні модифікації, 
                                | наприклад, жартівливі вставки або слова, які навіть віддалено не нагадують латину.
                            ul.portfolio-single__list
                                li.portfolio-single__list-item
                                    | Якщо вам потрібен Lorem Ipsum для серйозного проєкту, ви навряд чи захочете якусь 
                                    | жартівливу вставку посеред абзацу.
                                li.portfolio-single__list-item
                                    | Якщо вам потрібен Lorem Ipsum для серйозного проєкту, ви навряд чи захочете якусь 
                                    | жартівливу вставку посеред абзацу.
                                li.portfolio-single__list-item
                                    | Якщо вам потрібен Lorem Ipsum для серйозного проєкту, ви навряд чи захочете якусь 
                                    | жартівливу вставку посеред абзацу.
                                li.portfolio-single__list-item
                                    | Якщо вам потрібен Lorem Ipsum для серйозного проєкту, ви навряд чи захочете якусь 
                                    | жартівливу вставку посеред абзацу.
                                li.portfolio-single__list-item
                                    | Якщо вам потрібен Lorem Ipsum для серйозного проєкту, ви навряд чи захочете якусь 
                                    | жартівливу вставку посеред абзацу.
                    .portfolio-single__info-row
                        .portfolio-single__text-layer.animate(id="payment" data-animation="fadeInTop")
                            p.portfolio-single__paragraph
                                strong
                                    | Існує багато варіантів 
                                | Lorem Ipsum, але більшість із них мають не завжди прийнятні модифікації, 
                                | наприклад, гумористичні вставки або слова, які навіть віддалено не нагадують латину.
                            p.portfolio-single__paragraph
                                | Існує багато варіантів Lorem Ipsum, але більшість із них мають не завжди прийнятні 
                                | модифікації, наприклад, гумористичні вставки або слова, які навіть віддалено 
                                | не нагадують латину.
                            p.portfolio-single__paragraph
                                | Існує багато варіантів Lorem Ipsum, але більшість із них мають не завжди прийнятні 
                                | модифікації, наприклад, гумористичні вставки або слова, які навіть віддалено 
                                | не нагадують латину.
                            p.portfolio-single__paragraph
                                | Існує багато варіантів Lorem Ipsum, але більшість із них мають не завжди прийнятні 
                                | модифікації, наприклад, гумористичні вставки або слова, які навіть віддалено 
                                | не нагадують латину.
                        .portfolio-single__image-layer
                            img.portfolio-single__image(src="img/portfolio-img-2.png" alt="Portfolio")